@import "./theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply border-divider;
}

/* https://www.joshwcomeau.com/css/full-bleed/ */
.content-wrapper {
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}
.content-wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}
