@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    --tint: 11.041, 132.01, 255;
    --backgorund: 254 255 255;
    --foreground: 0 0 0;
    --link: 11.041, 132.01, 255;
    --selection: 0 122 254;
    --separator: 197 198 199;
    --placeholder: 197 197 198;
    --fill: 229 228 230;
    --muted: 142, 141, 146;
    --secondary: 242, 241, 246;
    --tertiary: 232, 231, 236;

    --blue: 0 122 254;
    --green: 50 199 90;
    --red: 253 60 46;
    --yellow: 254 203 0;
    --orange: 255 148 0;
    --purple: 176 79 222;
  }

  .dark {
    --muted: 142.22, 140.96, 146.46;
    --secondary: 26.77, 28.041, 29.115;
    --tertiary: 42.772, 44.042, 45.116;
    --tint: 0, 122.92, 255;
    --backgorund: 0 0 0;
    --foreground: 255 255 255;
    --separator: 68 67 71;
    --placeholder: 100 101 104;
    --link: 0, 122.92, 255;
    --fill: 71 70 74;

    --blue: 3 133 255;
    --green: 46 209 88;
    --red: 255 68 56;
    --yellow: 254 215 9;
    --orange: 255 160 10;
    --purple: 192 90 243;
  }
}
@layer base {
  * {
    @apply border-separator;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* https://www.joshwcomeau.com/css/full-bleed/ */
.content-wrapper {
  display: grid;
  grid-template-columns: 1fr min(60ch, calc(100% - 64px)) 1fr;
  grid-column-gap: 32px;
}
.content-wrapper > * {
  grid-column: 2;
}
.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}
