@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply relative min-w-0 border-divider;
  }
  body {
    @apply min-h-dvh;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply text-balance;
  }
  p {
    @apply text-pretty;
  }
}

.buttonLink {
  transform: perspective(1000px) translateZ(0px);
}

.buttonLink [data-pressed="true"] {
  transform: perspective(1000px) translateZ(300px);
}

.navDrawer {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
