:root {
  --sh-class: #4a6bac;
  --sh-identifier: #a17c3f;
  --sh-sign: #807256;
  --sh-string: #c28e1f;
  --sh-keyword: #e0712c;
  --sh-comment: #777777;
  --sh-jsxliterals: #807256;
  --sh-property: #8568b8;
  --sh-entity: #479686;
}

.dark {
  --sh-class: #7e9cd8;
  --sh-identifier: #e0bc7e;
  --sh-sign: #fac863;
  --sh-string: #edd6a3;
  --sh-keyword: #ffa065;
  --sh-comment: #727169;
  --sh-jsxliterals: #fac863;
  --sh-property: #947fb8;
  --sh-entity: #7aa89f;
}
