@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 254 254 254;
    --foreground: 46 46 46;
    --divider: 17 17 17 / 0.15;
    --accent: 244 244 245;
    --accent-secondary: 230 230 234;
    --highlight: 255 255 255 / 0.95;
    --highlight-hover: 0 0 0 / 0.04;
    --highlight-border: 0 0 0/ 0.064;
    --neutral: 212 212 216;
    --foreground-muted: 100 100 105;
    --primary: 0 111 238;
    --success: 23 201 100;
    --warning: 245 165 36;
    --danger: 243 18 96;

    --highlight-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);

    --card-shadow: 0 0 0 0.5px #e2e8f0, 0 0 0 1px rgba(226, 232, 240, 0.5),
      0 0 0 3px #f8fafc, 0 0 0 3.5px #f1f5f9,
      0 10px 15px -3px rgb(59 130 246 / 5%), 0 4px 6px -4px rgb(59 130 246 / 5%);
    --card-shadow-hover: 0 0 0 0.5px #ebecf0, 0 0 0 1px rgba(226, 232, 240, 0.5),
      0 0 0 3px rgba(226, 232, 240, 0.5), 0 0 0 3.5px rgba(226, 232, 240, 0.5),
      0 10px 15px -3px rgb(59 130 246 / 5%), 0 4px 6px -4px rgb(59 130 246 / 5%);

    --radius: 0.5rem;
  }
  .dark {
    --background: 18 18 18;
    --foreground: 245 245 245;
    --foreground-muted: 130 132 135;
    --divider: 255 255 255 / 0.15;
    --accent: 28 28 28;
    --accent-secondary: 42 42 45;
    --highlight: 255 255 255 / 0.1;
    --highlight-hover: 255 255 255 / 0.05;
    --highlight-border: 255 255 255 / 0.04;
    --neutral: 63 63 70;
    --primary: 0 120 250;
    --success: 23 201 100;
    --warning: 245 165 36;
    --danger: 243 18 96;

    --card-shadow: 0 0 0 0.5px #1a1a1a, 0 0 0 1px rgba(26, 26, 26, 0.5),
      0 0 0 3px #0d0d0d, 0 0 0 3.5px #121212;
    --card-shadow-hover: 0 0 0 0.5px #1a1a1a, 0 0 0 1px rgb(40, 40, 43),
      0 0 0 3px rgb(40, 40, 43), 0 0 0 3.5px rgb(40, 40, 43);
  }
}
